<%= erb :header %>
<table>
  <tr><th>Decision</th><th>Notes</th><th>Reviewer</th></tr>
  <% get_reviews.enumerate(pair_id) do | rev | %>
    <tr>
      <td><%= rev[:relationship] %></td>
      <td><%= rev[:note] %></td>
      <td><%= rev[:reviewer] %></td>
    </tr>
  <% end %>
</table>

<div id="left">
  <%= erb :record, :locals => {:rec=>recs[:first]} %>
</div>
<div id="right">
  <%= erb :record, :locals => {:rec=>recs[:second]} %>
</div>
<%= erb :footer %>    

